@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

</style>

<form method="get" asp-controller="Course" asp-action="GetListCourse">
    <input name="title" />
    <button type="submit"> Go</button>
</form>